<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.wtuapp.widget">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application>
        <receiver android:name=".LessonsTableAppWidget"
                android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.wtuapp.widget.NEXT_PAGE"/>
                <action android:name="com.wtuapp.widget.PREVIOUS_PAGE"/>
                <action android:name="com.wtuapp.widget.NEXT_DAY"/>
                <action android:name="com.wtuapp.widget.PREVIOUS_DAY"/>
                <action android:name="com.wtuapp.widget.UPDATE"/>
            </intent-filter>
            <meta-data android:name = "android.appwidget.provider"
                    android:resource = "@xml/lessons_table_widget_info" />
        </receiver>
        <service android:name=".service.impl.LessonsListRemoteViewServiceImpl" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".service.impl.TimelyUpdateService"/>
        <provider
                android:authorities="@string/authorities"
                android:name=".ContextProvider"
                android:exported="false" />
    </application>
</manifest>